.todo-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding: 15px;
    margin: 5px;
}

.todo-form input,
.todo-form button,
.todo-form select{    
    flex: 1;
    margin: 4px;
    font-size: 16px;
    padding: 5px;
    border-radius: 8px;
    border: solid 1px var(--textClr);
}


.todo-form input:hover,
.todo-form select:hover{
    cursor: pointer;
    box-shadow: 0 0 4px var(--shadowClr);
}

.todo-form input:hover{
    cursor: auto
}

.todo-form span{
    color: red;
}