.todo-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding: 15px;
    margin: 5px;
    padding-bottom: 0px;
}

.todo-form input,
.todo-form button,
.todo-form select{    
    flex: 1;
    margin: 0px 4px 8px 4px;
    font-size: 16px;
    padding: 5px;
    border-radius: 8px;
    border: solid 1px var(--textClr);
}
.todo-form button{
    margin-bottom: 2px;
}
.todo-form select:hover{
    cursor: pointer;
    box-shadow: 0 0 4px var(--shadowClr);
}

.todo-form input:hover{
    cursor: auto;
    box-shadow: 0 0 4px var(--shadowClr);
}

.todo-form label{
    font-size: 14px;
    font-weight: bold;
    color: var(--textClr);
}

.todo-form span{
    color: red;
    font-weight: bold;
}