body,
#root{
  margin: 0;
  padding: 0;
  font-family: Roboto; 
  overflow: hidden;
}

.App{ 
  height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: var(--unactiveBcgClr);
  
} 

.header-box{
  display: flex;
  justify-content: space-between;
}

.filter-div{
  display:flex;
  flex-direction: row;
}

.filter-div input,
.filter-div select{
  border-radius: 8px;
  border: solid 1px var(--textClr);
  font-size: 16px;
  padding: 5px 10px;
  margin: 10px 10px 5px 10px;
}

.filter-div input:hover,
.filter-div select:hover{
  box-shadow: 0 0 4px var(--shadowClr);
}

.App button{
  color: white;
  background-color: var(--textClr);
  border: none;
  border-radius: 8px;
  font-size: 16px;
  padding: 5px 10px;
  margin: 10px 10px 5px 10px;
}

.App button:hover{
  cursor: pointer;
  box-shadow: 0 0 10px var(--shadowClr);
}

@media (max-width: 670px) {
  .boxes{
      flex-direction: column;
      flex-wrap: nowrap;
  }

  .header-box,
  .filter-div{
    flex-direction: column;
    margin-top: 5px;
  }

  .filter-div input,
  .filter-div select{
    margin: 5px 10px 0px 10px;
  }
}

:root{
  --mainBcgClr: white;
  --unactiveBcgClr: rgb(229, 236, 244);
  --shadowClr: rgb(25, 87, 159);
  --textClr: rgb(0,69,149)
}

    
