body,
#root{
  margin: 0;
  padding: 0;
  font-family: Roboto; 
  overflow: hidden;
}

.App{ 
  height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: var(--unactiveBcgClr);
  
} 

.boxes{
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-wrap: wrap;
  overflow-y: auto;
}

.App button{
  color: white;
  background-color: var(--textClr);
  border: none;
  border-radius: 8px;
  font-size: 16px;
  padding: 5px;
  margin: 5px 10px;
}

.App button:hover{
  cursor: pointer;
  box-shadow: 0 0 4px var(--shadowClr);
}

@media (max-width: 670px) {
    .boxes{
        flex-direction: column;
        flex-wrap: nowrap;
    }

}

:root{
  --mainBcgClr: white;
  --unactiveBcgClr: rgb(229, 236, 244);
  --shadowClr: rgb(25, 87, 159);
  --textClr: rgb(0,69,149)
}

    
